@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: "Roboto", Verdana, Helvetica, Tahoma, sans-serif;
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 100;
    src: url('/fonts/roboto/Roboto-Thin.ttf');
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url('/fonts/roboto/Roboto-Light.ttf');
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url('/fonts/roboto/Roboto-Regular.ttf');
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url('/fonts/roboto/Roboto-Medium.ttf');
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url('/fonts/roboto/Roboto-Bold.ttf');
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url('/fonts/roboto/Roboto-Black.ttf');
  }

  /*Typography*/

  h1{
    @apply text-5xl font-semibold
  }

  h2{
    @apply text-5xl capitalize
  }

  h3{
    @apply text-3xl capitalize font-bold
  }

  h4{
    @apply text-2xl capitalize font-bold
  }

  p{
    @apply text-base
  }

  button{
    @apply text-sm
  }
  
  a{
    @apply text-lg
  }
}

@layer utilities{
  .site-gradient{
    background: linear-gradient(154.97deg, rgba(255, 224, 239, 0.65) 4.36%, rgba(134, 133, 239, 0) 108.32%);
  }

  .profile-gradient{
    background: linear-gradient(154.97deg, rgba(255, 204, 229, 0.73) 4.36%, rgba(113, 112, 255, 0.15) 108.32%);;
  }

  .underneath_line{
    position: relative;
    display:inline-block;
    z-index:1;
  }

  .underneath_line::before{
    content: "";
    position:absolute;
    bottom:2px;
    left:0;
    width:100%;
    height:10px;
    background-color: theme("colors.accent.100");
    z-index: -1;
  }

 
}